<h1>Ironhack Cinema </h1>
<p> Click on the movie check the showtimes! </p>

<ul> 

    {{each movies}}
  <li class="movie">
    <div class="">
          <img src="{{movies.image}}" alt="{{movie.title}}">
        
        <h3>{{movie.title}}</h3>
        <a href="/movies/{{this._id}}">See More</a>
      </div>
   </li>
    {{/each}}
</ul>
